
<style>
    .crypto-info > h2 {
        border-left: 8px solid black;
        background-image: linear-gradient(to right, lightgray, #f2f2f2);
        padding-left: 10px;
    }
</style>
<div>
    <div class="crypto-info">
        <h1 style="background-color: #d9d9d9">What is cryptocurrency?</h1>
    </div>

    <div class="crypto-info">
        <h2>What it is ?</h2>
        <p class="">
            Cryptocurrency is a general term for a digital medium that is capable of moving
            either funds or information (sometimes both) to basically anywhere on the planet with an
            internet connection; without reliance on a trusted 3rd party. Although no physical tranfer
            of a material occurs, crypto currencies “move” on the blockchain
            where the transactions is stored in an immutable form free for all to see.
            <br />
            Cryptocurrencies exist only digitally and, as of yet, have no physical or “cash” correspondent
            as most traditional currencies do. They are often referred to as “tokens” or “coins” but this
            is really just an arbitrary designation given to a discrete unit of digital information based
            on peoples’ ingrained thinking toward currency. There may be some similarities between
            cryptocurrencies and what is held on the computers of banks and financial institutions as
            “cash in digital form” but they are hardly ever more than surface deep. The term “crypto”,
            although not the most accurate, refers to how the majority of cryptocurrencies are encrypted/embedded
            into the “blockchain” (the network on which they move about). This means that their every movement is
            made both highly known and secure; although, to a large degree, the end-users on each transaction remain
            anonymous. The addition of the term “currency” probably stems from the fact that the original cryptocurrency, Bitcoin,
            was intended to be a “purely peer-to-peer version of electronic cash” with which individuals could make
            financial transactions without relying on a “trusted 3rd party”.

            <div class="video-view">
                <iframe width="520" height="315"
                        src="https://www.youtube.com/embed/bBC-nXj3Ng4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>">
            </div>
            
        </p>
    </div>
    <div class="crypto-info">
        <h2>Where they stand ?</h2>
        <p>
            As it is today, cryptocurrencies exist in an unregulated kind of gray zone; at least as far as 
            the big financial institutions and governments of the world are concerned. They are not officially
            recognized as currencies per se, but have seen an enormous rise in interest and popularity among 
            an increasing number of people who recognize their potential. There is still some debate among 
            the global community and certain regulatory bodies alike as to how they should be classified, 
            For the time being, cryptocurrencies can best be thought of as something like a combination of a 
            security and a stock in a company. However, speaking truly, they occupy their own unique, and as 
            yet, unprecedented category. They are very much the type of technology that, like the internet, 
            will likely end up forcing the world to adapt to it rather than them adapting to the world.
        </p>
    </div>
    <div class="crypto-info">
        <h2>Are cryptocurrencies money ?</h2>
        <p>
            Although the term “currency” may limit one’s impression of cryptocurrencies to simple financial
            transactions there is actually a wide variety of different types of cryptocurrencies with a huge
            variety of intended uses; almost none of which are the same. Some are designed purely to support
            financial transactions. Others to facilitate the secure transfer of information via “smart contracts” .
            Some are limited to a very narrow spectrum of uses while others are almost unlimited. Some, like Ripple (XRP),
            are highly centralized while others like Bitcoin (BTC) and Ethereum (ETH) are completely decentralized.
            There are even some cryptocurrencies like Bitqy (BQ) which are the creation of a single company seeking to
            build value in their coin via their networking efforts and special offers with other companies. A common trend
            is that a need will either be identified or presumed to exist and a cryptocurrency will be designed to serve it.
            This makes the nature of cryptocurrency markets a very interesting one, indeed. It is quite difficult to imagine
            any other frontier where such a combination of technology and creativity is converging quite so strongly.
            <br />
            Most cryptocurrencies do retain some monetary value tradeable on the exchanges so it is not true to 
            say they don’t. However, many of them are almost like a currency/stock hybrid in that they represent
            not only an assigned monetary value but also a unique function built in to them by the team that 
            designed them. Even this comparison, however, is not quite accurate as cryptocurrencies do not fit 
            the same profile as stock in a company either. They are truly an entirely new commodity the likes of
            which has never been seen before. Further, there currently doesn’t seem to be a limit for the 
            different uses and purposes a cryptocurrency can be designed for. And here, in 2018, it must be 
            admitted that there is a kind of free for all mentality concerning the cryptocurrency market as 
            they are a technology that is both extremely new and unproven while showing tremendous potential. 
            It is not yet quite clear what needs will be met and what trends will truly take off over others in 
            the future of the crypto world. It is widely assumed, however, just given the sheer numbers that 
            things are most definitely afoot in terms of the development and adoption of these technologies and 
            going back to the world before cryptocurrency seems increasingly unlikely. So, the comparison to the 
            dot com bubble is definitely an apt one.
        </p>
    </div>

    <div class="crypto-info">
        <h2>Why crypto?</h2>
        <div >
            
            <div class="crypto-info">
                <p>
                    Transactions with cryptocurrencies are : <br />
                    <strong>Extremely fast:</strong> A typical international transfer made with a bank may take up to a week and involve
                    sometimes numerous fees along the way. With a typical cryptocurrency transaction, it generally takes
                    from 1 to 30 minutes and there will only be a single fee, if any. There are cases, however, when
                    the network is particularly busy when a transaction may take several days. At these times,
                    transaction fees may temporarily rise. However, this is still far faster and cheaper than other
                    methods. Newer cryptocurrency and network models are only making things faster and simpler as the
                    technology improves.
                    <br />
                </p>
            </div>
            <div class="crypto-info">
                <p>
                    <strong>Made from peer to peer:</strong> As it is today, almost all transfers involve a 3rd party
                    service. This may come in the form of a bank, a credit card company or a service like PayPal. There
                    is nothing particularly wrong with this but it does have some drawbacks. First and foremost is a
                    lack of security. It may not be widely publicized but such companies and services are the relentless
                    targets of fraud, hacking and other criminal attempts at access. They spend huge amounts of money to
                    maintain security and loss prevention and they are not always successful. There is therefore no way
                    for them to avoid charging fees and causing endless inconveniences simply for either holding your
                    money or moving it for you. Despite their popularity, the banking system is tremendously inefficient
                    and outdated. Further, the general lack of control and free access to your funds in a bank is done
                    away with in using crypto currencies. Your funds are yours and may be transferred, deposited and
                    stored as easily as photos on an email. While in the bank, your funds are not truly yours and your
                    access to them may be severely delayed or denied altogether based on the whims of whatever
                    institution is holding them. You will also likely be paying considerable fees for often bizarre and
                    arbitrary reasons about which you can do nothing.
                    <br />
                </p>
            </div>
            <div class="crypto-info">
                <p>
                    <strong>
                        Far cheaper than almost any other service out there:
                    </strong> Because the majority of cryptocurrency 
                    transactions will take place via a decentralized, digital network, they are not only faster 
                    and more efficient than other 3rd party services they are also often significantly cheaper. 
                    This means that not only are the fees far lower, but that there will be only one and so far 
                    more of your amount transferred will reach its final destination.
                </p>
            </div>
            <div class="crypto-info">
                <p>
                    <strong>More secure than traditional transaction platforms:</strong> provided you don’t leave your holdings 
                    on a public exchange or share your access keys irresponsibly, you will find interactions 
                    with cryptocurrency to be highly secure. No third party is involved in cryptocurrency 
                    transactions so there is no need for concern regarding corruption or embezzlement etc of 
                    funds. And, if you take the extra step of getting a hardware wallet, you will also eliminate 
                    any fear of even the most skilled hacker accessing your funds.
                </p>
            </div>
        </div>
    </div>
</div>