@model IEnumerable<AirDrop.Models.CryptoInfo>

<html>
<body>
    <marquee>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</marquee>

    <hr />
    <div>

    </div>
    <div class="main">
        <div class="flex-gainers">
            <div class="gainers-box"></div>
            <div class="gainers-box"></div>

        </div>

        <div class="flex-container">
            <a class=" box nodecoration" asp-area="" asp-controller="TopAirdrops" asp-action="Brave">
                <div class="upperbox ">
                    <div class="ssx">
                        <img class="topdropimg" src="~/media/brave.png" />
                        <h5 class="topdroptext">Earn BAT</h5>
                    </div>
                </div>
                <div class="topdropinfo">
                    <p>Earn Basic Attention Token for simply browsing with Brave web browser</p>
                </div>
            </a>
            <a class=" box nodecoration" asp-area="" asp-controller="TopAirdrops" asp-action="Brave">
                <div class="upperbox ">
                    <div class="ssx">
                        <img class="topdropimg" src="~/media/brave.png" />
                        <h5 class="topdroptext">Earn BAT</h5>
                    </div>
                </div>
                <div class="topdropinfo">
                    <p>Earn Basic Attention Token for simply browsing with Brave web browser</p>
                </div>
            </a>

            <div class="viewallbox text-center">
                <a class="nodecoration text-white" asp-area="" asp-controller="TopAirdrops" asp-action="Index" title="show all top airdrops">View all</a>
            </div>
        </div>




        <div class="current-airdrop-container">
            <h3 class="main-text">Current top airdrops</h3>
        </div>
        <div class="drop-info">

            @foreach (var mod in Model)
            {
                <div class="container">

                    <h4>@mod.Name</h4>
                    <p>
                        @mod.Info
                    </p>
                    
                        <a asp-area="" asp-controller="TopAirdrops" asp-action="Index">button
                        </a>
                    
                   
                    <h6 id="participatebtn">Join airdrop</h6>
                    <a href="@mod.ParticipateLink">@mod.ParticipateLink</a>
                    <div class="drop-info-end"></div>

                </div>
            }
            <a class="nodecoration" asp-area="" asp-controller="CurrentAirdops" asp-action="Index" title="show current airdops">
                <div class="text-center ">
                    <span  class="bordered-text text-white ">More</span>

                </div>
                
            </a>

        </div>
      

    </div>
    <div>
        <form asp-action="">
            <div style="text-align: center">
                <div class="">
                    <h3 class=" text-white">Never miss on new airdrop</h3>
                </div>
                <div >
                    <input class="emailadd" type="text" placeholder="Email address" name"mail" required />
                </div>
                <div >
                    <input class="emailsubmit" type="submit" value="Subscribe" />
                </div>
            </div>
           
        </form>
    </div>

</body>

</html>