@using AirDrop.Models;
<html>
<body>
    <marquee>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</marquee>

    <hr />
    <div>

    </div>
    <div class="main">
        <div class="flex-gainers">
            <div class="gainers-box"></div>
            <div class="gainers-box"></div>

        </div>

        <div class="flex-container">
            <a class=" box nodecoration" asp-area="" asp-controller="TopAirdrops" asp-action="Brave">
                <div class="upperbox ">
                    <div class="ssx">
                        <img class="topdropimg" src="~/media/brave.png" />
                        <h5 class="topdroptext">Earn BAT</h5>
                    </div>
                </div>
                <div class="topdropinfo">
                    <p>Earn Basic Attention Token for simply browsing with Brave web browser</p>
                </div>
            </a>
            <a class=" box nodecoration" asp-area="" asp-controller="TopAirdrops" asp-action="Brave">
                <div class="upperbox ">
                    <div class="ssx">
                        <img class="topdropimg" src="~/media/brave.png" />
                        <h5 class="topdroptext">Earn BAT</h5>
                    </div>
                </div>
                <div class="topdropinfo">
                    <p>Earn Basic Attention Token for simply browsing with Brave web browser</p>
                </div>
            </a>

            <div class="viewallbox text-center">
                <a class="nodecoration text-white" asp-area="" asp-controller="TopAirdrops" asp-action="Index" title="show all top airdrops">View all</a>
            </div>
        </div>




        <div class="current-airdrop-container">
            <h3 class="main-text">Current top airdrops</h3>
        </div>
        <div class="drop-info">

            @foreach (CryptoInfo mod in ViewBag.cryptoInfo)
            {
                <div class="container currentairdrop">

                    <h4>@mod.Name</h4>
                    <p>
                        @mod.Info
                    </p>

                    <a asp-area="" asp-controller="TopAirdrops" asp-action="Index">
                        button
                    </a>


                    <h6 id="participatebtn">Join airdrop</h6>
                    <a href="@mod.ParticipateLink">@mod.ParticipateLink</a>


                </div>
                <div class="drop-info-end"></div>
            }
            <a class="nodecoration " asp-area="" asp-controller="CurrentAirdops" asp-action="Index" title="show current airdops">
                <div class=" text-center ">
                    <span class="bordered-text text-white  ">More</span>

                </div>

            </a>

        </div>


    </div>


    <section>
        @foreach (Tweets tw in ViewBag.tweets)
        {

        }
    </section>
    <div class="tweetssection">
        <div class="tweets-container text-center justify-content-sm-center nodecoration">
            <button class="btn nodecoration text-decoration-none" onclick="prev();">
                <span>Prev</span>
            </button>

            <div id="tweet1" class="tweetbox">
                <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/Binance?src=hash&amp;ref_src=twsrc%5Etfw">#Binance</a> CEO <a href="https://twitter.com/cz_binance?ref_src=twsrc%5Etfw"></a> shares a letter to users from around the world on <a href="https://twitter.com/hashtag/Binance?src=hash&amp;ref_src=twsrc%5Etfw">#Binance</a>’s 4th anniversary as he reflects on the shared journey so far as well as the next steps for the company. <a href="https://t.co/jmtagyUwe0">https://t.co/jmtagyUwe0</a></p>&mdash; Binance  <a href="https://twitter.com/binance/status/1415329734171447299?ref_src=twsrc%5Etfw">July 14, 2021</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div id="tweet2" class="tweetbox">
                <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">Learn about Polkastarter &amp; Earn $5 POLS<a href="https://t.co/smn1bkqXtf">https://t.co/smn1bkqXtf</a><br><br>Learn how <a href="https://twitter.com/polkastarter?ref_src=twsrc%5Etfw"></a> is enabling projects to raise capital on a decentralized and interoperable environment based on Polkadot<a href="https://twitter.com/hashtag/CoinMarketCap?src=hash&amp;ref_src=twsrc%5Etfw">#CoinMarketCap</a> <a href="https://twitter.com/hashtag/Crypto?src=hash&amp;ref_src=twsrc%5Etfw">#Crypto</a> <a href="https://twitter.com/hashtag/Cryptocurrency?src=hash&amp;ref_src=twsrc%5Etfw">#Cryptocurrency</a> <a href="https://twitter.com/hashtag/Bitcoin?src=hash&amp;ref_src=twsrc%5Etfw">#Bitcoin</a> <a href="https://twitter.com/hashtag/Altcoin?src=hash&amp;ref_src=twsrc%5Etfw">#Altcoin</a> <a href="https://twitter.com/hashtag/DeFi?src=hash&amp;ref_src=twsrc%5Etfw">#DeFi</a> <a href="https://twitter.com/hashtag/Dogecoin?src=hash&amp;ref_src=twsrc%5Etfw">#Dogecoin</a> <a href="https://twitter.com/hashtag/Shib?src=hash&amp;ref_src=twsrc%5Etfw">#Shib</a> <a href="https://twitter.com/hashtag/POLS?src=hash&amp;ref_src=twsrc%5Etfw">#POLS</a></p>&mdash; CoinMarketCap  <a href="https://twitter.com/CoinMarketCap/status/1415304124631982085?ref_src=twsrc%5Etfw">July 14, 2021</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div id="tweet3" class="tweetbox"><blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">As more bitcoin mining firms transition to nuclear power, it appears this may be the source that fuels the network&#39;s future.<br><br>“Nuclear is a carbon free, reliable and cheap energy source.&quot;<a href="https://twitter.com/willms_?ref_src=twsrc%5Etfw">_</a> explores the trend:<a href="https://t.co/IQKgLNuV7s">https://t.co/IQKgLNuV7s</a></p>&mdash; Bitcoin Magazine  <a href="https://twitter.com/BitcoinMagazine/status/1416088874892374016?ref_src=twsrc%5Etfw">July 16, 2021</a></blockquote>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
            <div id="tweet4" class="tweetbox"><blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">New podcast is live 🎙️ <br><br>Listen to the UK Founders Panel as we chat with <a href="https://twitter.com/tomrobin?ref_src=twsrc%5Etfw"></a> and <a href="https://twitter.com/itamarl?ref_src=twsrc%5Etfw"></a> about the market, their companies, and the path to growth. 🌱 <a href="https://t.co/i4U4BuRBvN">https://t.co/i4U4BuRBvN</a></p>&mdash; Blockchain.com  <a href="https://twitter.com/blockchain/status/1416072671868108805?ref_src=twsrc%5Etfw">July 16, 2021</a></blockquote>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
            <div id="tweet5" class="tweetbox"><blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">I wrote up some much more detailed plans (including proto-EIPs) for Verkle trees and state expiry!<br><br>Verkle trees: <a href="https://t.co/k4vDbtBPCd">https://t.co/k4vDbtBPCd</a><br>State expiry: <a href="https://t.co/cGTYAVVMyh">https://t.co/cGTYAVVMyh</a><br>Intro: <a href="https://t.co/FINc0w6CaK">https://t.co/FINc0w6CaK</a></p>&mdash; vitalik.eth  <a href="https://twitter.com/VitalikButerin/status/1405301760252645378?ref_src=twsrc%5Etfw">June 16, 2021</a></blockquote>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
            <button class="btn"  onclick="next();">Next</button>
        </div>
    </div>
    
    <div>
        <form asp-action="">
            <div style="text-align: center">
                <div class="">
                    <h3 class=" text-white">Never miss on new airdrop</h3>
                </div>
                <div>
                    <input class="emailadd" type="text" placeholder="Email address" name"mail" required />
                </div>
                <div>
                    <input class="emailsubmit" type="submit" value="Subscribe" />
                </div>
            </div>

        </form>
    </div>

</body>

</html>