<div>
    <div class="flex-container">
        <a >Top airdrops</a>
        <a >BAT</a>
    </div>
</div>
<div class="topairdroptext">
    <h3>Earn BAT for browsing</h3>
    <p>Brave is a free and open-source web browser developed by Brave Software, Inc. 
    based on the Chromium web browser. Brave is a privacy focused browser, which distinguishes 
    itself from other browsers
    by automatically blocking online advertisements and website trackers in its default settings</p>
</div>